.back-div{
    width: 85%;
    margin-right:0%;
    margin-left: 15%;
    height: 150px;
    margin-top: 20px;
    overflow: hidden;
    border-radius: 10px 0px 0px 10px;
    background: rgba(22,157,54,1);
    background: -moz-linear-gradient(left, rgba(22,157,54,1) 28%, rgba(15,138,66,1) 47%, rgba(9,124,75,1) 62%, rgba(1,103,88,1) 83%, rgba(1,103,88,1) 91%);
    background: -webkit-gradient(left top, right top, color-stop(28%, rgba(22,157,54,1)), color-stop(47%, rgba(15,138,66,1)), color-stop(62%, rgba(9,124,75,1)), color-stop(83%, rgba(1,103,88,1)), color-stop(91%, rgba(1,103,88,1)));
    background: -webkit-linear-gradient(left, rgba(22,157,54,1) 28%, rgba(15,138,66,1) 47%, rgba(9,124,75,1) 62%, rgba(1,103,88,1) 83%, rgba(1,103,88,1) 91%);
    background: -o-linear-gradient(left, rgba(22,157,54,1) 28%, rgba(15,138,66,1) 47%, rgba(9,124,75,1) 62%, rgba(1,103,88,1) 83%, rgba(1,103,88,1) 91%);
    background: -ms-linear-gradient(left, rgba(22,157,54,1) 28%, rgba(15,138,66,1) 47%, rgba(9,124,75,1) 62%, rgba(1,103,88,1) 83%, rgba(1,103,88,1) 91%);
    background: linear-gradient(to right, rgba(22,157,54,1) 28%, rgba(15,138,66,1) 47%, rgba(9,124,75,1) 62%, rgba(1,103,88,1) 83%, rgba(1,103,88,1) 91%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#169d36', endColorstr='#016758', GradientType=1 );
    -webkit-box-shadow: -14px 1px 77px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: -14px 1px 77px -5px rgba(0,0,0,0.75);
    box-shadow: -14px 1px 77px -5px rgba(0,0,0,0.75);

}

.evaluador-form{
    margin-right:2%;
    margin-left: 17%;
    margin-top: -70px;
    position: relative;
    z-index: 20; 
}

.container-evaluador{
    padding: 50px;
}

.btn-save{
    padding: 20px;
}


.questionMark{
    border-radius: 50%;
    width: 12px; 
    height: 12px;
    margin-left: 5px;
    margin-bottom: 5px;
}



.textQuestionMark{
    padding: 10px;
    margin-bottom: 10px;
    margin-top: -60px;
    margin-left: 20px;
    position: relative;
    z-index: 30;
}

td ,th{
    padding: 2px ;
}

.title{
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.div-evaluation{
    height: 336px ;
}

.btn-action-evaluation{
    margin-top: 20px;
    text-align: right;
}

#comboEvaluadores{
    z-index: -1;
}

#ComboProveedores{
    z-index: -1;
}
